<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

  <li *ngFor="let hero of heroes"
    [class.selected]="isSelected(hero)"
    (click)="onSelect(hero)" [class.featured]="hero.featured">
      <div class="photo">
        <img [src]="hero.image">
      </div>
      <tr>
        <td>
             <span class="badge">{{hero.id}}</span>
        </td>
        <td>
          <p >{{hero.name}}</p>
        </td>
        <td>
          <span *ngIf="hero.stock>0">{{hero.stock}}in Stock</span>
          <span *ngIf="hero.stock===0">out of Stock</span>
        </td>
        <td class="price">{{hero.price | currency:'EUR':true}}</td>
        <td>
          <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
        </td>
        <td>
          <div class="select-quantity">
              <button class="increase" (click)="upQuantity(hero)">+</button>
              <input class="number"  type="text" [(ngModel)]="hero.quantity" />
              <button class="increase" (click)="downQuantity(hero)">-</button>
          </div>

        </td>
      </tr>
    </li>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
