body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 .widget-item
{
background-color: white;
margin-bottom: 30px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
}
.widget-item b
{
display: block;
margin-bottom: 15px;
}
