<!-- <div class="sidebar-overlay teal darken-2 " ></div>
 <nav class="teal darken-3">
    <ul class="right hide-on-med-and-down">
      <div >
      <li routerLinkActive="active"><a [routerLink]="['/yyyy']">login</a></li>
      <li routerLinkActive="active"><a hreF="#" (click)="xxxx($event)">Search</a></li>
      <li routerLinkActive="active"><a routerLink="/dashboard" >Dashboard</a></li>
      <li routerLinkActive="active"><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>

      <li routerLinkActive="active"><a href="#" (click)="logout($event)">Logout</a></li>
    </div>
    </ul>
    <ul  id="slide-out">
      <div class="left">
      <ul >
        <li><a [routerLink]="['/yyyy']">login</a></li>
        <li><a hreF="#" (click)="xxxx($event)">Seach</a></li>
        <li><a href="#" (click)="logout($event)">Logout</a></li>
        <li routerLinkActive="active"><a routerLink="/dashboard" >Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
      </ul>
    </div>
  </ul>

   <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu">Menu</i></a> -->

   <!-- <ul  class="side-nav fixed">
      <li >
          <a href="https://github.com/start-angular/SB-Admin-BS4-Angular-2/archive/master.zip" class="btn btn-default-outline buy-now-btn" role="button" style="padding: .375rem 1rem !important; border-color: #999;">Download Now</a>
      </li>
      <li >
          <a href="https://github.com/start-angular/SB-Admin-BS4-Angular-2/archive/master.zip" class="btn btn-default-outline buy-now-btn" role="button" style="padding: .375rem 1rem !important; border-color: #999;">Download Now</a>
      </li>
      <li >
          <a href="https://github.com/start-angular/SB-Admin-BS4-Angular-2/archive/master.zip" class="btn btn-default-outline buy-now-btn" role="button" style="padding: .375rem 1rem !important; border-color: #999;">Download Now</a>
      </li>
   </ul> -->
 <!-- </nav> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-sticky-top">
      <ul class="navbar navbar-nav navbar-right">

        <li>
          <a>About</a>
        </li>
        <li routerLink="/dashboard" >  <a>About</a></li>
        <li routerLink="/heroes">  <a>About1</a></li>
        <li>  <a>About2</a> </li>
      </ul>

    </div>

  </div>

</nav>
