<!-- <nav class="sidebar-overlay teal darken-2 navbar-fixed-top">
  <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/yyyy']" class="waves-effect">login</a></li>
      <li routerLinkActive="active"><a href="#" class="waves-effect" (click)="xxxx($event)">Search</a></li>
      <li routerLinkActive="active"><a routerLink="/dashboard" class="waves-effect">Dashboard</a></li>
      <li routerLinkActive="active"><a routerLink="/heroes" routerLinkActive="active" class="waves-effect">Heroes</a></li>
      <li routerLinkActive="active"><a href="#" (click)="logout($event)" class="waves-effect">Logout</a></li>
  </ul>
  <ul  id="slide-out">
    <ul>
        <li routerLinkActive="active"><a [routerLink]="['/yyyy']" class="waves-effect">login</a></li>
        <li routerLinkActive="active"><a hreF="#" (click)="xxxx($event)" class="waves-effect">Search</a></li>
        <li routerLinkActive="active"><a routerLink="/dashboard" class="waves-effect">Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/heroes" routerLinkActive="active" class="waves-effect">Heroes</a></li>
        <li routerLinkActive="active"><a href="#" (click)="logout($event)"class="waves-effect">Logout</a></li>
    </ul>
  </ul>

  <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
      class="button-collapse show-on-large"><i class="mdi-navigation-menu">Menu</i></a>
</nav> -->


<header>
  <nav role="navigation" class=" sidebar-overlay  navbar-fixed-top teal darken-2">

      <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a [routerLink]="['/yyyy']" class="waves-effect">login</a></li>
          <li routerLinkActive="active"><a href="#" class="waves-effect" (click)="xxxx($event)">Search</a></li>
          <li routerLinkActive="active"><a routerLink="/dashboard" class="waves-effect">Dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/heroes" routerLinkActive="active" class="waves-effect">Heroes</a></li>
          <li routerLinkActive="active"><a href="#" (click)="logout($event)" class="waves-effect">Logout</a></li>
      </ul>
      <ul  id="slide-out">
        <ul>
            <li routerLinkActive="active"><a [routerLink]="['/yyyy']" class="waves-effect">login</a></li>
            <li routerLinkActive="active"><a hreF="#" (click)="xxxx($event)" class="waves-effect">Search</a></li>
            <li routerLinkActive="active"><a routerLink="/dashboard" class="waves-effect">Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="/heroes" routerLinkActive="active" class="waves-effect">Heroes</a></li>
            <li routerLinkActive="active"><a href="#" (click)="logout($event)"class="waves-effect">Logout</a></li>
            
        </ul>
      </ul>

      <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
          class="button-collapse show-on-large"><i class="mdi-navigation-menu brand-logo">Menu</i></a>

  </nav>
</header>




<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-sticky-top">
      <ul class="navbar navbar-nav navbar-right">

        <li>
          <a>About</a>
        </li>
        <li routerLink="/dashboard" >  <a>About</a></li>
        <li routerLink="/heroes">  <a>About1</a></li>
        <li>  <a>About2</a> </li>
      </ul>

    </div>

  </div>

</nav> -->
